body {
  background-color: rgb(28, 56, 94);
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 5%;
}

h1 {
  color: white;
  text-align: center;
  text-decoration: underline;
}
div {
  text-align: center;
}
#main{
  border: 4px solid white;
  border-radius: 25px;
  padding-top: 15px;
  position: relative;
}
.answers {
  display: none;
  border: 4px solid white;
  border-radius: 25px;
  padding-top: 15px;
  position: relative;
}
.solutions {
  border: 4px solid white;
  background-color: rgba(0, 128, 0, 0.3);
  border-radius: 25px;
  padding-top: 15px;
  display: none;
  position: relative;
}
.p_answers {
  font-family: verdana;
  font-size: 20px;
  color: white;
}
.p_solutions {
  font-family: verdana;
  font-size: 14px;
  color: white;
}
.btn_close {
  background-color: rgba(0, 0, 0, 0);
  font-size: 15px;
  color: white;
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
}
.button_yes {
  background-color: #4CAF50; /* Green */
  border: 6px solid rgb(28, 56, 94);
  border-radius: 25px;
  color: white;
  height: 60px;
  width: 120px;
  padding: 15px 45px;
  text-align: center;
  display: inline-flex;
  font-size: 16px;
}
.button_no{
  background-color: red; /* Green */
  border: 6px solid rgb(28, 56, 94);
  border-radius: 25px;
  color: white;
  height: 60px;
  width: 120px;
  padding: 15px 35px;
  text-align: center;
  display: inline-flex;
  font-size: 16px;
}
